%script{type: 'text/javascript'}="var current_location = 'board';"

#thread_form_container
	-form_for RThread.new, url: url_for(controller: 'threads', action: 'create', alias: @board[:alias]), html: {id: 'thread_form', method: 'post', multipart: true} do |f|
		%table
			%tr
				.errors
			%tr
				%td.label
					Тема
				%td
					= f.text_field :title, id: 'title_input'
					= f.submit id: 'submit_button', value: 'отправить'
			%tr
				%td.label
					Сообщение
				%td
					= render template: 'editbox'
					= f.text_area :message
			%tr
				%td.label
					Файл
				%td
					= f.file_field :file, id: 'file'
			%tr
				%td.label
					Перейти к
				%td
					%label
						%input{type: 'radio', name: 'goto', value: 'thread', checked: true}
						треду
					%label
						%input{type: 'radio', name: 'goto', value: 'board'}
						доске
	%hr
	%br
= render template: 'reply_form'

-@threads.each do |thread|
	.thread_container
		= render partial: 'threads/thread', object: thread
		-if thread.replies_count > 3
			%span.mini.omitted 
				-replies = thread.replies_count - 3
				Пропущено
				%span= replies
				= "#{verbose_replies replies}."
				Нажмите «Открыть тред», чтобы увидеть всё целиком.
		-p = Post.where(thread_id: thread._id).order('created_at DESC').limit(3)
		= render partial: 'posts/post', collection: p.reverse
	%hr

#pages
	Страницы:
	-if @threads.total_pages > 1
		-(1..@threads.total_pages).each do |page|
			-cls = nil
			-cls = 'current' if page == @threads.current_page
			-u = url_for controller: 'boards', alias: @board.alias, action: 'page', page: page
			-u = url_for controller: 'boards', alias: @board.alias, action: 'index' if page == 1
			%a{class: cls, href: u}= page
	-else
		%a.current{href: '.'}= 1
