-if params[:controller] == 'threads' and params[:action] == 'show'
  -url = url_for(controller: 'posts', action: 'create', alias: @board[:alias], id: @thread.rid)
  -style  = nil
  -frm    = 'thread'
-else
  -url    = ''
  -style  = 'display:none;'
  -frm    = 'board'
  
#reply_form_container{style: style}
  = form_for Post.new, url: url, html: {id: 'reply_form', method: 'post', multipart: true} do |f|
    %table
      %tr
        %td
          .errors
      %tr 
        %td= render template: 'editbox'
        %td
          #close_button скрыть форму
      %tr
        %td
          = f.text_area :message
          %input{type: 'hidden', value: frm, name: 'from'}
        %td
          %table
            %tr
              %td
                = f.file_field :file, id: 'file'
            %tr
              %td.mini
                Перейти к 
                %label
                  -c = (frm == 'board')
                  %input{type: 'radio', name: 'goto', value: 'thread', checked: (not c)}
                  треду
                %label
                  %input{type: 'radio', name: 'goto', value: 'board', checked: c}
                  доске
            %tr
              %td.mini
                %label{for: 'sage'} Сажа:
                = f.check_box(:sage, id: 'sage')
            %tr
              %td
                %input#submit_button{type: 'submit', value: 'отправить'}
